[Desktop Entry]
Type=Application
Exec=/usr/bin/indicator-multiload
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Indicator Multiload
Name=Indicator Multiload
Comment[en_US]=
Comment=
