[Desktop Entry]
Type=Application
Exec=/usr/bin/keepasx
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=keepassX
Name=keepassX
Comment[en_US]=
Comment=
