[Desktop Entry]
Type=Application
Exec=/opt/extras.ubuntu.com/my-weather-indicator/bin/my-weather-indicator
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=My Weather Indicator
Name=My Weather Indicator
Comment[en_US]=
Comment=
